.carousel-inner::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}

.carousel-caption {
    position: absolute;
    height: 60%;
    line-height: 2rem;
    color: #ffffff;

}

/* registration button position fixing */

@media screen and (min-width: 992px) {
    .register-button {
        display: flex !important;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        align-content: flex-end;
        flex-wrap: wrap;
    }
}